.form-control{
    color: white;
    background: transparent;
    font-weight: 570;
    font-size: 16px;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  }
  label{
    color: white;
    font-weight: 600;
  }
  .text-center{
      color: #fff;
  }
  hr{
    width: 50%;
    height: 2px;
    background-color: green;
  }
  .heading{
    color: white;
    text-align: center;
    padding-top: 2%;
  }
  .container-fluid{
    background-color: black;
    border-radius: 4px;
    padding-bottom: 5%;
    box-shadow: 2px 2px 3px 2px black;
    font-family: 'Rajdhani, san-serif';
    margin-bottom: 5%;
  }
  